body {background-color: #333333;}

.parameter {
    width: 100px;
}

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

div , fieldset{
    /*border: solid 2px;*/
}

.show-when-checked{
    display: none;
    width: 100px;
}

.msf-form form fieldset { display: none;}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.cf:before, .cf:after {
    content: ' ';
    display: table;
}
.cf:after {
    clear: both;
}

.title {
    padding: 50px 0;
    font-size: 24px;
    text-align: center;
}

.inner {
    /*max-width: 820px;*/
    /*margin: 0 auto;*/
}

.profile-pic {
    width: 139px;
    /*height: 220px;*/

}

/*=====================Breadcrumbs-css=======================*/
.breadcrumbs-css {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-left: 0px;
}

.breadcrumbs-css ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.breadcrumbs-css li {
    float: left;
    width: 20%;
}

.breadcrumbs-css a {
    position: relative;
    display: block;
    padding: 20px;
    padding-right: 0 !important;
    /* important overrides media queries */
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    cursor: pointer;
}

.breadcrumbs-css a:hover {
    background: #eee;
}

.breadcrumbs-css a.active {
    color: #777;
    background-color: #fafafa;
}

.breadcrumbs-css a span:first-child {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 2px;
    margin-right: 5px;
    border: 2px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
}

.breadcrumbs-css a.active span:first-child {
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.breadcrumbs-css a:before,
.breadcrumbs-css a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 16px solid transparent;
}

.breadcrumbs-css a:before {
    margin-left: 1px;
    border-left-color: #d5d5d5;
}

.breadcrumbs-css a:after {
    border-left-color: #f5f5f5;
}

.breadcrumbs-css a:hover:after {
    border-left-color: #eee;
}

.breadcrumbs-css a.active:after {
    border-left-color: #fafafa;
}

.breadcrumbs-css li:last-child a:before,
.breadcrumbs-css li:last-child a:after {
    display: none;
}

@media (max-width: 720px) {
    .breadcrumbs-css a {
        padding: 15px;
    }

    .breadcrumbs-css a:before,
    .breadcrumbs-css a:after {
        border-top-width: 26px;
        border-bottom-width: 26px;
        border-left-width: 13px;
    }
}
@media (max-width: 620px) {
    .breadcrumbs-css a {
        padding: 10px;
        font-size: 12px;
    }

    .breadcrumbs-css a:before,
    .breadcrumbs-css a:after {
        border-top-width: 22px;
        border-bottom-width: 22px;
        border-left-width: 11px;
    }
}
@media (max-width: 520px) {
    .breadcrumbs-css a {
        padding: 5px;
    }

    .breadcrumbs-css a:before,
    .breadcrumbs-css a:after {
        border-top-width: 16px;
        border-bottom-width: 16px;
        border-left-width: 8px;
    }

    .breadcrumbs-css li a span:first-child {
        display: block;
        margin: 0 auto;
    }

    .breadcrumbs-css li a span:last-child {
        display: none;
    }
}
.tab-content{
    overflow-x:scroll;
}

.loading {
    position: absolute; width: 100%; height: 100%; background: url('/images/gifs/loading.gif') no-repeat center center;
}


.form-control::-webkit-input-placeholder { color: #c7c7c7; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c7c7c7; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c7c7c7; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c7c7c7; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c7c7c7; }